{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un souhait{% endblock %}

{% block body %}
    <h1>Création d'un souhait</h1>
    {{ form_start(wishForm) }}
    {{ form_widget(wishForm) }}
    <button>Enregistrer</button>
    {{ form_end(wishForm) }}


{% endblock %}
